* {
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.header {
  height: 3em;
  padding: 1em;
  background-color: #eee;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.fa-bars {
  font-size: 2em;

}
.button {
  border-radius: none;
  padding: 0;
  border: none;
  background-color: none;
  cursor: pointer;
}
.nav-list {
  padding: 0;
   width: 20%;
  padding: 0.5em;
}
.nav-list-item {
  background-color: #808080;
  color: white;
  height: 2em;
  margin-bottom: 0.5em;
  list-style-type: none;
}
.nav-list-link {
  display: inline-block;
  padding: 0 0.5em;
  color: white;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}
@media screen and (max-width:600px) {
    .nav-list{
        visibility: hidden;
    }
    
}
@media screen and (min-width:600px) {
    .fa-bars{
        visibility: hidden;
    }
    
}
